<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-4.0.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.0.xsd">

    <context:annotation-config></context:annotation-config>

    <!-- 开启controller注解支持，spring mvc的配置文件应该仅扫描@controller注解的类 -->
    <context:component-scan base-package="com.**.controller"
                            use-default-filters="false">
        <context:include-filter type="annotation"
                                expression="org.springframework.stereotype.Controller" />
        <context:include-filter type="annotation"
                                expression="org.springframework.web.bind.annotation.ControllerAdvice" />
    </context:component-scan>
    <!-- 使用这句注解，就是为了 一次性注入 AnnotationMethodHandlerAdapter 和 DefaultAnnotationHandlerMapping
        两个bean -->
    <!-- 但是如果要加入拦截器的话，最好手动配置2个bean -->
    <mvc:annotation-driven />
    <mvc:default-servlet-handler />
    <bean id="multipartResolver"
          class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
        <property name="maxUploadSize" value="104857600"></property>
    </bean>


</beans>
