.padding_total_banner{font-size: 12px;color: #777;margin-top: -10px;}
.padding_total_banner span{font-size: 14px;padding: 0 6px 0 0;color: #337ab7;}
.button-css{margin:10px 0 6px;}
.vertical-tab {
    width: 8%;
    height: 100%;
    float: left;
    overflow: hidden;
    background-color: #EDEDED;
}

.vertical-tab > li {
    text-align: center;
}

.vertical-tab > li.active > a, .vertical-tab > li.active > a:focus, .vertical-tab > li.active > a:hover {
    border: solid #ccc;
    border-width: 1px 0px 1px 1px;
    background-color: #ffffff;
    border-right: 1px solid #ffffff;
    z-index: 2;
}

.vertical-tab > li > a {
    border-radius: 4px 0px 0px 4px;
    padding: 6px 15px;
    color:#000000;
}
.vertical-tab > li > button {
    border-radius: 4px 0px 0px 4px;
    padding: 6px 15px;
    color:#000000;
}

.vertical-tab-content {
    float: left;
    width: 91%;
    /*height: auto;*/
    padding: 5px;
    margin-left: -1px;
    margin-bottom: 2px;
    border-radius: 4px 4px 4px 4px;
    border: solid 1px #ccc;
    color: #666;
}

.tab-disabled{
    background-color:#AAAAAA !important;cursor:not-allowed;
}
.table-borderless > thead > tr > th,
.table-borderless > tbody > tr > th,
.table-borderless > tfoot > tr > th,
.table-borderless > thead > tr > td,
.table-borderless > tbody > tr > td,
.table-borderless > tfoot > tr > td {
    padding: 8px;
    line-height: 1.42857143;
    vertical-align: top;
    border-top: 0px !important;
}
.drop-box {
    background: #F8F8F8;
    border: 5px dashed #DDD;
    width: 170px;
    text-align: center;
    padding: 50px 10px;
    margin-left: 10px;
}
.up-buttons {
    float: left;
}
.drop-box.dragover {
    border: 5px dashed blue;
}
.preview {
    clear: both;
    display:inline;
}
.preview img {
    max-width: 300px;
    max-height: 130px;
    float: left;
    margin-left:50px;
}
.btn-hg{
    margin-top: 5px;
}
.nav-tabs > li > a {
    margin-right: 0px;
    margin-left: 2px;
    margin-bottom: 2px;
    line-height: 1.42857143;
    border: 0px solid transparent;
    border-radius: 6px 0 0 6px;
}
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus{
    color: #555;
    cursor: default;
    background-color: #fff;
    border: 0px solid #ddd;
    border-bottom-color: transparent;
}