<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xmlns="http://www.springframework.org/schema/beans"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
	<!-- 自定义Realm -->
	<bean id="eideaRealm" class="com.dsdl.eidea.security.EideaRealm"/>
	<!-- 安全管理器 -->
	<bean id="securityManager" class="org.apache.shiro.web.mgt.DefaultWebSecurityManager">
  	  <property name="realm" ref="eideaRealm"/>
	</bean>  
	<!-- Shiro过滤器 -->
	<bean id="userloginFilter" class="org.apache.shiro.spring.web.ShiroFilterFactoryBean">  
	    <!-- Shiro的核心安全接口,这个属性是必须的 -->  
	    <property name="securityManager" ref="securityManager"/>
	    <!-- 身份认证失败，则跳转到登录页面的配置 -->  
	    <property name="loginUrl" value="/common/frameLogin.jsp"/>
		<!-- 权限认证失败，则跳转到指定页面 -->
	    <property name="unauthorizedUrl" value="/error/noprivileges.jsp"/>
	    <!-- Shiro连接约束配置,即过滤链的定义 -->  
	    <property name="filterChainDefinitions">  
	        <value>  
	             /js/**=anon
				/font/**=anon
				/css/**=anon
				 /login.jsp=anon
				/login=anon
				/languages=anon
				/common/changeLanguage=anon
				/doLogin=anon
				/common/frameLogin.jsp=anon
	            /error/*.jsp=anon
	            /**=authc
	        </value>  
	    </property>
	</bean>  
	<!-- 保证实现了Shiro内部lifecycle函数的bean执行 -->

	<bean id="lifecycleBeanPostProcessor" class="org.apache.shiro.spring.LifecycleBeanPostProcessor"/>

</beans>

