<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
    <mapper namespace="com.dsdl.base.dao.sql.ChangelogMapper">
        <resultMap id="BaseResultMap" type="com.dsdl.eidea.base.entity.po.ChangelogPo">
            <result column="id" jdbcType="INTEGER" property="id" />
            <result column="core_table_id" jdbcType="INTEGER" property="tableId" />
            <result column="operate_type" jdbcType="CHAR" property="operateType" />
            <result column="in_date" jdbcType="TIMESTAMP" property="inDate" />
            <result column="sys_user_id" jdbcType="INTEGER" property="userId" />
            <result column="pk" jdbcType="INTEGER" property="pk" />
            <result column="bu_pk" jdbcType="VARCHAR" property="buPk" />
        </resultMap>
        <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.dsdl.eidea.base.entity.po.ChangelogPo">
            <result column="context" jdbcType="LONGVARCHAR" property="context" />
        </resultMap>
        <sql id="Example_Where_Clause">
            <where>
                <if test="tableId != null">
                    and   core_table_id=#{tableId,jdbcType=INTEGER}
                </if>
                <if test="searchString!=null"> and ${searchString}</if>
                <if test="accessString!=null">and ${accessString} </if>
            </where>
        </sql>
        <sql id="Base_Column_List">
            id, core_table_id, operate_type, in_date, sys_user_id, pk, bu_pk
        </sql>
        <sql id="Blob_Column_List">
            context
        </sql>
        <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Integer" >
            select

            <include refid="Base_Column_List" />
            ,
            <include refid="Blob_Column_List" />
            from sys_changelog
            where id = #{id,jdbcType=INTEGER}
        </select>

        <select id="selectByExampleWithBLOBs" parameterType="java.util.Map" resultMap="ResultMapWithBLOBs">
            select
            <if test="distinct">
                distinct
            </if>
            'false' as QUERYID,
            <include refid="Base_Column_List" />
            ,
            <include refid="Blob_Column_List" />
            from sys_changelog
            <if test="_parameter != null">
                <include refid="Example_Where_Clause" />
            </if>
            <if test="orderByClause != null">
                order by ${orderByClause}
            </if>
        </select>
        <select id="selectByExample" parameterType="java.util.Map" resultMap="ResultMapWithBLOBs">
            select
            <if test="distinct">
                distinct
            </if>
            'false' as QUERYID,
            <include refid="Base_Column_List" />
            ,
            <include refid="Blob_Column_List" />
            from sys_changelog
            <if test="_parameter != null">
                <include refid="Example_Where_Clause" />
            </if>
            <if test="orderByClause != null">
                order by ${orderByClause}
            </if>
        </select>
        <delete id="deleteByExample" parameterType="java.util.Map">
            delete from sys_changelog
            <if test="_parameter != null">
                <include refid="Example_Where_Clause" />
            </if>
        </delete>
        <insert id="insert" keyProperty="id" parameterType="com.dsdl.eidea.base.entity.po.ChangelogPo" useGeneratedKeys="true">
            insert into sys_changelog (core_table_id, operate_type, in_date,
            sys_user_id, pk, bu_pk,
            context)
            values (#{tableId,jdbcType=INTEGER}, #{operateType,jdbcType=CHAR}, #{inDate,jdbcType=TIMESTAMP},
            #{userId,jdbcType=INTEGER}, #{pk,jdbcType=INTEGER}, #{buPk,jdbcType=VARCHAR},
            #{context,jdbcType=LONGVARCHAR})
        </insert>
        <select id="countByExample" parameterType="java.util.Map" resultType="java.lang.Integer">
            select count(*) from sys_changelog
            <if test="_parameter != null">
                <include refid="Example_Where_Clause" />
            </if>
        </select>
</mapper>