<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dsdl.base.dao.sql.IdentityMapper">
    <delete id="deleteAllMemerShip"> delete from ACT_ID_MEMBERSHIP </delete>
    <delete id="deleteAllUser"> delete from ACT_ID_USER </delete>
    <delete id="deleteAllInfo"> delete from ACT_ID_INFO  </delete>
    <delete id="deleteAllGroup"> delete from ACT_ID_GROUP  </delete>
</mapper>