<?xml version="1.0" encoding="UTF-8"?>
<beans
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd">
	<bean id="mailSender" class="org.springframework.mail.javamail.JavaMailSenderImpl" >
		<property name="host" value="${mailserver.host}" />
		<property name="port" value="${mailserver.port}" />
		<property name="username" value="${mailserver.username}" />
		<property name="password" value="${mailserver.password}" />
		<property name="defaultEncoding" value="${mailserver.default_encoding}" />
		<property name="javaMailProperties">
			<props>
				<prop key="mail.smtp.auth">true</prop>
			</props>
		</property>
	</bean>

</beans>